<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn Form</title>
</head>
<body bgcolor="cyan">
<center>
<h1><b><i>This is the Login form our website</i></b></h1>
    <div class="container">
    <form action="./login/" method="POST">
        {% csrf_token %}
        Email: <input type="email" name="t1" placeholder="Enter email/ph-number"><br><br>
        password: <input type="password" name="t2" placeholder="Enter password"><br><br>
        <input type="submit" value="LogIn">
        <a href="./regin/"><input type="button" value="New User"></a>


    </form>
    </div>
</center>
</body>
</html>